* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: sans-serif, "Times New Roman", Times, serif;
    min-height: 100vh;
}
.container {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 15vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
form {
    margin: 0 auto;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form input {
    width: 75%;
    position: relative;
}
form input::placeholder {
    font-size: 1.1rem;
}

form button span {
    font-size: 18px;
}
form input:focus {
    outline: none;
}
form button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    border-left: 3px solid #d88771;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #d88771;
    color: white;
}

.clear-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.clear-all .trash-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: 5px;
}
.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    margin-bottom: 50px;
    width: 100%;
    list-style: none;
}

.todo {
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.todo .controls {
    transition: right 0.3s ease-in-out;
    position: relative;
    top: 0;
    right: -48px;
}
.todo:hover .controls {
    right: 0px;
}

.todo li {
    flex: 1;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.todo li span:first-of-type {
    flex: 2;
}
.todo li span:not(:first-of-type) {
    flex: 1;
}


.trash-btn,
.Total,
.edit-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.edit-btn {
    background: rgb(73, 204, 73);
}

.todo-item {
    padding: 0.5rem;
}

.fa-check,
.fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0; 
} */
/* update */
.update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.update input {
    width: 50%;
    font-size: 1rem;
}
.update input[type="text"]:last-of-type {
    border-left: 2px solid #ff6f47;
}

.update input[type="submit"] {
    margin: auto;
    width: 50%;
    margin-top: 10px;
}
